<div class="jumbotron banner bg-black boder-bottom border-primary mb-2 py-5">
    <div class="container my-4">
        <div class="row justify-content-end">
            <div class="card shadow text-white banner-card px-5">
                <div class="card-body text-center py-4">
                    <h1 class="display-6 font-weight-normal">Erin M. Gunn</h1>
                    <h3><small class="text-muted font-weight-light">Software Engineer</small></h3>
                    <a href="#" class="btn btn-outline-primary btn-small mt-2 stretched-link">About My Banners</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-embed">
        <iframe src="/assets/banners/kings-dream.html" scrolling="no" frameBorder="0"></iframe>
    </div>
</div>